{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container form-section">
    <div class="col-lg-8 offset-lg-2">
        <h1 class="mt-5 mb-4">記事を投稿</h1>
        <p class=>環境を守るためにあなたがシェアしたいアイデアを投稿ください。
        </p>
        <form method="post" class="mt-5" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <p class="mt-2"><em>このサイト編集者が記事をレビューして不適切と判断した際は、記事を取り下げさせていただきますのでご了承ください。</em>
            </p>
            <button type="submit" class="blue-btn mt-2" name="save" value="draft">保存</button>
            <button type="submit" class="blue-btn mt-2 btn-right" name="publish" value="complete">投稿</button>
        </form>
    </div>
</div>
{% endblock content %}