{% extends "blog/base.html" %}
{% block content %}
<!-- 冒頭の説明 -->
<div class="container d-flex justify-content-center">
    <div class="intro-box mt-5">
        <p>自然破壊・気候変動のニュースを耳にして、暗くなってませんか？このサイトは、環境を守るために個人が暮らしの中でできることを
            シェアするためのサイトです。環境を守る活動されている方が、活動内容を紹介したり、
            個人が普段の生活の中でできることを提案したりしてください。
            どのような取り組みが行われているか読むことで、暗くならずに「できることをしよう」と
            思っていただけることを祈っています！
        </p>
        {% if not user.is_authenticated %}
        <p>記事を投稿、記事にコメントされたい方は<a href="{% url 'account_signup' %}">メンバー登録</a>してください。
        </p>
        {% endif %}
        <hr>
    </div>
</div>
<!-- おすすめ記事 -->
<div class="container d-flex justify-content-center mt-5">
    <div class="content">
        <h2 class="featured-heading">
            <i class="fa-brands fa-pagelines big-space-right"></i>おすすめ記事
        </h2>
        <div class="row posts">
            {% for post in post_list %}
            {% include "blog/post_excerpt.html" %}
            {% empty %}
            <p>記事なし</p>
            {% endfor %}
            <!-- 今週の記事と人気の記事へのリンク -->
            <div class="links-to-posts">
                <a href="{% url 'recent_posts' %}">
                    <h4><i class="fa-solid fa-seedling big-space-right"></i>今週の記事をもっと読む &raquo;</h4>
                </a>
                <a href="{% url 'popular_posts' %}" class="mt-4">
                    <h4><i class="fa-solid fa-seedling big-space-right"></i>人気の記事 &raquo;</h4>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}