{% extends "blog/base.html" %}
{% block content %}
<!-- 冒頭の説明 -->
<div class="container d-flex justify-content-center">
    <div class="intro-box mt-2">
        <hr>
        <p>自然破壊・気候変動のニュースを耳にして、暗くなってませんか？このサイトは、環境を守るために個人が暮らしの中でできることを
            シェアするためのサイトです。環境を守る活動されている方が、活動内容を紹介したり、
            個人が普段の生活の中でできることを提案したりしてください。
            どのような取り組みが行われているか読むことで、暗くならずに「できることをしよう」と
            思っていただけることを祈っています！
        </p>
        <p>記事を投稿、記事にコメントされたい方は<a href="{% url 'account_signup' %}">メンバー登録</a>してください。
        </p>
        <hr>
    </div>
</div>
<!-- おすすめ記事 -->
<div class="container d-flex justify-content-center mt-5">
    <div class="content">
        <h2 class="featured-heading">おすすめ記事</h2>
        <div class="row posts">
            {% for post in post_list %}
            {% include "blog/post_excerpt.html" %}
            {% empty %}
            <p>記事なし</p>
            {% endfor %}
            <!-- 今週の記事と人気の記事へのリンク -->
            <div class="links-to-posts">
                <a href="{% url 'recent_stories' %}">
                    <p>今週の記事をもっと読む &raquo;</p>
                </a>
                <a href="{% url 'popular_stories' %}" class="mt-4">
                    <p>人気の記事 &raquo;</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}