{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<main class="container d-flex justify-content-center mt-5">
    <div class="content">
        <section class="d-md-flex title-img-box">
            <div class="title-box">
                <h1 class="title">{{post.title}}</h1>
                <div>
                    <span class="text-secondary"><em>投稿者: {{post.author}}</em></span>
                    <div class="date-city d-flex justify-content-end text-secondary">
                        <ul>
                            <!-- 記事が投稿されていたら投稿日を記載 -->
                            {% if post.status == 1 %}
                            <li>投稿日: {{post.published_on|date:"Y-m-d"}}</li>
                            {% else %}
                            <!-- 投稿されていなかったら、記事の作成日を記載 -->
                            <li><em>未投稿</em></li>
                            <li><em>作成日：{{post.created_on|date:"Y-m-d"}}</em></li>
                            {% endif %}
                            <li><em>{{post.city}}</em></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- title-box -->
            <div class="img-box">
                {% if 'default' in post.featured_image.url %}
                <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891851/default-img_ojmwhd.jpg"
                    class="card-img-top" alt="forest image">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="featured-img" alt="{{ post.title }}">
                {% endif %}
                <!-- いいねとブックマークボタン -->
                <div class="d-flex justify-content-start">
                    <!-- 記事が投稿済みでログインしているユーザが書いた記事の場合 -->
                    {% if post.status == 1 %}
                    {% if user.is_authenticated %}
                    <!-- すでに「いいね」していたら、塗りつぶしたハート -->
                    {% if liked %}
                    <button type="button" name="unlike" value="{{post.num_of_likes}}" class="btn space-right like-btn">
                        <i class="fa-solid fa-heart heart"></i>
                    </button>
                    <!-- 「いいね」していなかったらハートの輪郭だけ -->
                    {% else %}
                    <button type="button" name="like" value="{{post.num_of_likes}}" class="btn space-right like-btn">
                        <i class="fa-regular fa-heart heart"></i>
                    </button>
                    {% endif %}
                    <span class="text-secondary likes-count">{{ post.num_of_likes }}</span>
                    {% else %}
                    <!-- ログインしていない場合、「いいね」機能なしのハート -->
                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="「いいね」はログイン後可能">
                        <i class=" far fa-heart heart"></i></span>
                    <span class="text-secondary likes-count">{{ post.num_of_likes }}</span>
                    {% endif %}
                    <!-- bookmark -->
                    {% if user.is_authenticated %}
                    <!-- すでにブックマークされていたら、塗りつぶしたアイコン -->
                    {% if bookmarked %}
                    <button type="button" name="unbookmark" class="btn bookmark" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="ブックマークより削除">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </button>
                    {% else %}
                    <!-- 「ブックマーク」していなかったら、輪郭のみのアイコン -->
                    <button type="button" name="bookmark" class="btn bookmark" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="ブックマークに追加">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </button>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
                <!--　likes & bookmark -->
            </div> <!-- img-box -->
        </section>
        <section class="post-content mt-3">
            <div>{{ post.content | safe }}</div>
            <!-- ログインしているユーザが書いた記事の場合、更新と削除ボタンを表示 -->
            {% if post.author == user %}
            <div class="mt-3 d-flex justify-content-start">
                <form method="GET" action="{% url 'update_post' post.slug %}">
                    {% csrf_token %}
                    <button class="blue-btn" name="update-post" type="submit">更新</button>
                </form>
                <button type="button" class="btn blue-btn btn-right modal-btn" name="post" data-bs-toggle="modal"
                    data-bs-target="#confirm-delete">
                    削除
                </button>
            </div>
            {% endif %}
        </section>
        <!-- 記事が投稿されていたらコメントセクション -->
        {% if post.status == 1 %}
        <section class="d-lg-flex justify-content-between mt-5 comments">
            <div class="comments-left">
                <h2>コメント</h2>
                {% for comment in comments %}
                <div>
                    {% if comment.comment_status != 2 %}
                    <div class="d-flex justify-content-between mb-2">
                        <span>{{ comment.commenter }}:</span>
                        <span>{{ comment.created_on|date:'Y-m-d' }}</span>
                    </div>
                    {% if comment.comment_status == 1 %}
                    <span class="text-muted"><em>更新済み</em></span>
                    {% endif %}
                    <span class="text-muted hide"><em>更新済み</em></span>
                    <div class="comment-form">{{ comment.body | linebreaks }}</div>
                    <!-- ログインユーザーのコメントには更新・削除アイコンを表示 -->
                    {% if comment.commenter == user %}
                    <div class="d-flex justify-content-end update-comment">
                        <div class="col-1">
                            <button type="submit" class="btn btn-sm edit-btn" data-id={{comment.id}}
                                onClick="showCommentEditForm(this)">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <form method="POST" id="delete-comment" action="{% url 'delete_comment' comment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm" name="delete-comment">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    <!-- コメントが削除されていた場合 -->
                    {% else %}
                    <p class="text-muted mb-2"><em>このコメントは削除されました</em></p>
                    {% endif %}
                    <hr>
                </div>
                <!-- コメントがない場合 -->
                {% empty %}
                <p>この記事にコメントはまだありません。</p>
                {% endfor %}
            </div>
            <div class="mt-custom comments-right">
                <!-- ログインしているユーザーにはコメントフォームを表示 -->
                {% if user.is_authenticated %}
                <h2>コメントを投稿:</h2>
                <p class="mt-3">{{ user.username }}として投稿</p>
                <form method="post" class="mt-3">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="blue-btn mt-3" name="submit-comment">投稿</button>
                </form>
                {% else %}
                <!-- ログインしていなかったら、メンバ登録とサインインのリンクを表示 -->
                <h2></h2>
                <p>
                    コメントされたい方は
                    <a href="{% url 'account_signup' %}">メンバー登録</a>
                    <span>または</span>
                    <a href="{% url 'account_login' %}">サインイン</a>
                    してください.
                </p>
                {% endif %}
            </div>
            {% endif %}
        </section>
    </div>
</main>
<!-- 削除確認ダイアログ -->
<div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>記事を削除して良いですか？データは完全に削除されます。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn" data-bs-dismiss="modal">キャンセル</button>
                <form method="POST" action="{% url 'delete_post' post.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn blue-btn">削除</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}