{% extends "blog/base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="content">
        <h1 class="mt-5">今週の記事</h1>
        <div class="row posts">
            {% for post in object_list %}
            <!-- １行に３記事投稿 -->
            <div class="col-md-4 individual-post">
                <div class="image-wrapper d-flex justify-content-center">
                    {% if 'default' in post.featured_image.url %}
                    <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891851/default-img_ojmwhd.jpg"
                        class="card-img-top" alt="forest image">
                    {% else %}
                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="mx-2 mt-2 post-text">
                    <span><strong>{{ post.title }}</strong></span>
                    <span class="text-secondary item-right"><i class="far fa-heart"></i></span>
                    <span class="text-secondary ml-2">{{ post.num_of_likes }}</span><br>
                    <span class="excerpt-author">by {{ post.author }}</span>
                    <div class="d-flex justify-content-end pub-date">
                        <span>{{ post.pub_date }}</span>
                    </div>
                    <p class="mt-1 excerpt">{{ post.excerpt }}</p>
                    <a href="{% url 'detail_page' post.slug %}">記事を読む</a>
                </div>
                <hr class="line">
            </div>
            <!-- ３記事ある場合、新しい行に表示 -->
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <hr class="line-for-lg">
        <div class="row posts">
            {% endif %}
            {% empty %}
            <p>記事なし。</p>
            {% endfor %}
        </div>
        <!-- ６記事以上の場合複数ページに表示 -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <div class="pagination justify-content-center mt-4">
                {% if page_obj.has_previous %}
                <span><a href="?page={{page_obj.previous_page_number}}" class="item-left">&laquo; PREV</a></span>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                <span><a href="?page={{page_obj.next_page_number}}" class="item-right">NEXT &raquo;</a></span>
                {% endif %}
            </div>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}