{% extends "blog/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container d-flex justify-content-center">
    <!-- 検索フォーム -->
    <form method="get">
        <h2 class="mt-4">記事を検索</h1>
            <div class="mt-2 form-lable-group">
                {{postForm.form.title.label_tag}}
                {% render_field postForm.form.title class="form-control" %}
            </div>
            <div class="mt-2 form-lable-group">
                {{postForm.form.author__username.label_tag}}
                {% render_field postForm.form.author__username class="form-control" %}
            </div>
            <div class="row mt-2">
                <div class="col-md-6 col-12 form-lable-group">
                    {{postForm.form.keyword.label_tag}}
                    {% render_field postForm.form.keyword class="form-control" %}
                </div>
                <div class="col-md-3 col-9 form-lable-group">
                    {{postForm.form.num_of_likes.label_tag}}
                    {% render_field postForm.form.num_of_likes class="form-control" %}
                </div>
                <div class="col-md-3 col-3 align-self-end">
                    <span>回以上</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-5 col-11 form-lable-group pub-date-range">
                    <span>投稿日</span>
                    {{postForm.form.published_after.label_tag}}
                    {% render_field postForm.form.published_after class="form-control" %}
                </div>
                <div class="col-md-1 col-1 pub-range">〜</div>
                <div class=" col-md-5 col-11 form-lable-group pub-date-range pub-before">
                    {{postForm.form.published_before.label_tag}}
                    {% render_field postForm.form.published_before class="form-control" %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 col-12 form-lable-group">
                    {{postForm.form.city.label_tag}}
                    {% render_field postForm.form.city class="form-control" %}
                </div>
                <div class="col-md-6 col-12 form-lable-group">
                    {{postForm.form.category.label_tag}}
                    {% render_field postForm.form.category class="form-control" %}
                </div>
            </div>
            <button class="blue-btn mt-3" type="submit" name="search">検索</button>
            <button class="blue-btn mt-3 btn-right" type="submit">フォームをクリア</button>
    </form>
</div>
<!-- 検索結果 -->
<div class="container d-flex justify-content-center">
    <div class="content">
        {% if search %}
        {% if no_input %}
        <p class="warning mt-3">検索ワードを入力してください。</p>
        {% else %}
        <div class="row posts">
            <h2>検索結果<span class="item-right">{{posts|length}}件</span></h2>
            {% for post in posts %}
            <!-- １行に３記事表示 -->
            {% include "blog/post_excerpt.html" %}
            <!-- ３記事ごとに新しい行 -->
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <hr class="d-none d-lg-block mt-5">
        <div class="row posts">
            {% endif %}
            {% empty %}
            <p>記事なし</p>
            {% endfor %}
        </div>
        <!-- 検索結果６件以上の場合、次・前ページへのリンクを表示 -->
        {% include "blog/pagination.html" %}
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}