{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="col-lg-8 offset-lg-2">
        <h2><i class="fa-solid fa-pen big-space-right"></i>記事を編集</h2>
        <form method="POST" class="mt-3" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="mt-3">
                <div class="update-post-btn-box">
                    <button type="submit" class="blue-btn update-post-btn" name="save" value="draft">保存</button>
                    <button type="submit" class="blue-btn update-post-btn submit-post" name="publish"
                        value="complete">投稿</button>
                    <a href="{% url 'detail_page' post.slug %}" class="blue-btn cancel">編集をキャンセル</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}